<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="stylesheet" href="./styleLoginFormulario.css" />
    <title>Login CESDE FAST</title>
  </head>
  <body>
    <section class="container">
      <h2>Iniciar Sesión</h2>
      <form id="login-Form">
        <label class="login-Form__label" for="usuario">Usuario:</label>
        <input
          class="login-Form__input"
          type="text"
          name="usuario"
          id="usuario"
          required
          autocomplete="usuario"
        />
        <label class="login-Form__label" for="contrasena">Contraseña:</label>
        <input
          class="login-Form__input"
          type="password"
          name="contrasena"
          id="contrasena"
          required
          autocomplete="current-password"
        />
        <button type="button" id="iniciarSesion">Iniciar Sesión</button>
      </form>
    </section>

    <!--Esto es se comporta como módulo de JavaScript-->
    
    <script type="module" src="../public/script.js"></script>
  </body>
</html>
