body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos Login*/
.container{
    width: 300px;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-Form__label{
    padding-top: 25px;
    display: inline-block;
}
.login-Form__input{
    width: 220px;
}

button{
    margin-top: 15px;
    margin-left: 65px;
    padding: 5px 10px;
    background-color: #DB008C;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #cc1a8b;
} 

/*Estilos Formulario de Reserva*/
.form-registro{
    width: 450px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid grey;
    border-radius: 5px;
}

.form-registro__label{
    display: block;
    margin: 15px;
}

.form-registro_input{
    margin-left: 10px;
}

.button{
    margin-left: 190px;
    padding: 5px 10px;
    background-color: #DB008C;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-registro__h2{
    font-size: 18px;
    text-align: center;
    margin: 15px;
}
